.container {
  display: flex ;
  justify-content: center;
  align-items: center;
}
.menutab {
  position: fixed;
  bottom: 50px;
  width: 95%;
  z-index: 99999 ;
  background:  #f72146;
  border-radius: 10px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s ease-in-out ;
 .logo {
   margin: 5px;
   padding: 8px;
   width: 40px;
   height: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #232b34;
   border-radius: 200%;
   animation: rotate 1s ease-in-out infinite alternate;
   &:hover {
     animation: rotate 0.001s infinite;
   }
    img {
      max-width: 30px;
    }
    
    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
  } 
  .icon {
    font-size: 20px;
    font-weight: 900;
    color: white;
 }
}


@media(min-width: 788px) {
  .menutab {
    display: none;
  }
}