.circledecoration {
  .circle1, 
  .circle2,
  .circle3, 
  .circle4 {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    filter: blur(20px);
  } 
 .circle1 {
   top: 220px;
   left: 150px;
   animation: color 3.6s ease-in-out alternate infinite;
 }
.circle2 {
  background: #069ce5;
  top: 500px;
  right: 100px;
  animation: move 3.6s ease-in-out alternate infinite;
}

.circle3 {
  margin: 150% 50%;
  animation: blink 6s ease-in-out alternate infinite;
  filter: blur(30px);
}

.circle4 {
  margin: 50% 10%;
  animation: blink 8s ease-in-out alternate infinite;
  filter: blur(20px);
}
       
}
  @keyframes blink {
       0% {
         background-color: red;
       }
       20% {
         background-color: green;
       }
       40% {
         background-color: blue;
       }
       60% {
         background-color: pink;
       }
       80% {
         background-color: white;
       }
       100% {
         background-color: yellow;
       }
     }

@keyframes color {
  0% {
    opacity: 0;
    background: yellow; 
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
    background: yellow;
  }
  100% {
    transform: translateX(300px);
    
  }
}