.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
//  padding: 20px 35px;
    h5 {
    text-align: center;
    color: #069ce5;
    margin: 70px 0;
    font-size: 18px;
    font-weight: 400;
  }
  .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
   .item {
     display: flex;
     justify-content: flex-start;
     align-items: center;
    .icon {
      color: #069ce5;
      margin-right: 20px;
      font-size: 20px;
    }
   p {
     font-size: 15px;
     color: white;
     text-align: center;
   }
   }
  }
}

@media (min-width:788px){
  .list {
    margin-top: -30px;
  }
}