.herocontainer {
  overflow: hidden;
  //height: 100vh;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 200px;
  .bgtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: -160px;
    left: 10px;
    opacity: 0.07;
    font-size: 90px;
    font-weight: 900;
    color: gray;
    span {
      color: #ff2768;
      font-style: italic;
    }
  }
  .formcontainer {
    border-radius: 10px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      font-size: 25px;
      color: red;
      position: absolute;
      top: 0;
      right: 0.8;
    }
  }
  .spin {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      animation: spin 16s ease-in-out infinite;
      max-width: 150px;
      opacity: 0.5;
      margin-bottom: 20px;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
.hero {
  position: relative;
  z-index: 500;
  .introcontainer {
    display: flex;
    align-items: center;
    margin-left: -5px;
    margin-right: 40px;
    .heroimg {
      max-width: 72.5%;
      height: auto;
    }
  }
}

.buttons {
  margin-left: -20px;
  padding: 5px 40px;
  position: relative;
}

.cvbtn,
.contactbtn {
  background: transparent;
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin-right: 5px;
  &:hover {
    outline: none;
  }
}

.cvbtn {
  border: 2px #069ce5 solid;
  &:hover {
    background: #069ce5;
  }
}

.contactbtn {
  border: 2px #ff2768 solid;
  &:hover {
    background: #ff2768;
  }
  .icon {
    margin-right: 5px;
    margin-bottom: -2px;
  }
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

@media (min-width: 788px) {
  .herocontainer {
    padding-left: 20px;
    margin-top: 150px;
    min-height: 100vh;
    .cvbtn,
    .contactbtn {
      padding: 8px 16px;
      font-size: 20px;
      margin-right: 15px;
    }
    .spin {
      img {
        max-width: 300px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .herocontainer {
    overflow: hidden;
    //height: 100vh;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    .bgtext {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      top: -160px;
      left: 10px;
      opacity: 0.07;
      font-size: 90px;
      font-weight: 900;
      color: gray;
      span {
        color: #ff2768;
        font-style: italic;
      }
    }
    .formcontainer {
      border-radius: 10px;
      position: absolute;
      margin: 0 auto;
      width: 100%;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        font-size: 25px;
        color: red;
        position: absolute;
        top: 0;
        right: 0.8;
      }
    }
    .spin {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        animation: spin 16s ease-in-out infinite;
        opacity: 0.5;
        margin-bottom: 20px;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.02);
        }
      }
    }
    .buttons {
      margin-left: -20px;
      padding: 5px 40px;
      position: relative;
      margin-top: 50px;
    }
  
    .cvbtn,
    .contactbtn {
      background: transparent;
      padding: 16px 32px;
      color: white;
      font-weight: bold;
      font-size: 2rem;
      margin-right: 1.5rem;
      &:hover {
        outline: none;
      }
    }
  
    .cvbtn {
      border: 2px #069ce5 solid;
      &:hover {
        background: #069ce5;
      }
    }
  
    .contactbtn {
      border: 2px #ff2768 solid;
      &:hover {
        background: #ff2768;
      }
      .icon {
        margin-right: 5px;
        margin-bottom: -2px;
      }
    }
  }
  .hero {
    position: relative;
    z-index: 500;
    .introcontainer {
      display: flex;
      align-items: center;
      margin-left: -5px;
      margin-right: 40px;
      .heroimg {
        max-width: 72.5%;
        height: auto;
      }
    }
  }
  }

  


 