.intro {
  margin-left: 20px;
  margin-top: 60%;
  .role,
  .role1 {
    color: #a7a7a7;
    font-size: 20px;
    font-weight: 300;
    line-height: 5px;
    font-style: italic;
  }

  .role1 {
    margin-top: 30px;
  }

  h1 {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 20px;
    color: white;
    line-height: 15px;
    span {
      color: #069ce5;
      font-size: 1.5em;
      font-weight: 900;
      font-style: italic;
    }
  }
}

@media (max-width: 400px) {
  .intro {
    margin-top: 40vh;
    h1 {
      //font-size: 40px;
      margin-bottom: 35px;
      span {
        font-size: 50px;
      }
    }

    .role,
    .role1 {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 788px) {
  .intro {
    h1 {
     // font-size: 40px;
      margin-bottom: 35px;
      span {
        font-size: 50px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .intro {
    margin-left: 20px;
    margin-top: 5%;
    .role,
    .role1 {
      color: #a7a7a7;
    //  font-size: 4rem;
      font-weight: 300;
      line-height: 20px;
      font-style: italic;
    }
  
    .role1 {
      margin-top: 120px;
    }
  
    h1 {
    //  font-size: 10rem;
      font-weight: 900;
      margin-bottom: 20px;
      color: white;
      line-height: 15px;
      span {
        color: #069ce5;
      //  font-size: 11rem;
        font-weight: 900;
        font-style: italic;
      }
    }
  }
  
}


